<!DOCTYPE html>

<!-- thymeleaf namespace -->
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>WebSocket</title>
</head>

<body onload="disconnect()">
	<noscript><h2>Your browser doesn't support websocket.</h2></noscript>
	
	<div>
		<div>
			<button id="connect" onclick="connect()">Connect</button>
			<button id="disconnect" disabled="disabled" onclick="disconnect()">Disconnect</button>
		</div>
		
		<div id="chat_div">
			<label>Input your name:</label><input type="text" id="name" />
			<button id="send_name" onclick="sendName()">Send</button>
			<p id="response"></p>
		</div>
	</div>
	
	<script th:src="@{sockjs/sockjs.min.js}"></script>
	<script th:src="@{stomp/stomp.min.js}"></script>
	<script th:src="@{jquery/jquery-1.10.2.min.js}"></script>
	<script type="text/javascript">
		var stompClient = null;
		
		function setConnected(connected) {
			$('#connect').attr('disabled', connected);
			$('#disconnect').attr('disabled', !connected);
			if (connected) {
				$('#chat_div').show();
			} else {
				$('#chat_div').hide();
			}
			$('#response').html();
		}
		
		function connect() {
			var socket = new SockJS('/endpoint');
			stompClient = Stomp.over(socket);
			stompClient.connect({}, function(frame) {
				setConnected(true);
				console.log('connected: ' + frame);
				stompClient.subscribe('/topic/getResponse', function(response) {
					showResponse(JSON.parse(response.body).responseMessage);
				})
			});
		}
		
		function disconnect() {
			if (stompClient != null) {
				stompClient.disconnect();
			}
			setConnected(false);
			console.log('disconnected');
		}
		
		function sendName() {
			var name = $('#name').val();
			stompClient.send('/welcome', {}, JSON.stringify({'name' : name}));
		}
		
		function showResponse(message) {
			var response = $('#response');
			response.html(message);
		}
	</script>
</body>
</html>